apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
name: nodejs-gitops-demo
namespace: argocd
spec:
project: default
source:
repoURL: 'https://github.com/YOUR_USER/YOUR_REPO.git' # update this
path: 'manifests'
targetRevision: HEAD
destination:
server: 'https://kubernetes.default.svc'
namespace: demo
syncPolicy:
automated:
prune: true
selfHeal: true